<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="targetWrapper" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File"
              name="default"
              layout="${longdate} - ${aspnet-traceidentifier} - ${level:uppercase=true}: ${message}${newline}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="c:\Logs\GuidDataCRUD_${shortdate}.log"
              keepFileOpen="true"
              autoFlush="false"
              archiveFileName="c:\Logs\GuidDataCRUD_Archived_${shortdate}.log"
              archiveDateFormat="yyyyMMddHHmm"
              archiveEvery="Day"
              maxArchiveFiles="14"
              archiveAboveSize="10240000"
              openFileCacheTimeout="30"
      />
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Debug" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="System.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>
